# Bonus: Temperature Analysis I

In [14]:
import pandas as pd
from datetime import datetime as dt

In [15]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [16]:
# Convert the date column format from string to datetime
datetime_format = "%Y-%m-%d"
df['date']=pd.to_datetime(df['date'],format=datetime_format)

In [17]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [18]:
# Drop the prcp column
df.drop(columns='prcp', inplace=True)

### Compare June and December data across all years

In [19]:
from scipy import stats

In [20]:
# Filter data for desired months
june = df[df.index.month==6]
june.head()

                station  tobs
date
2010-06-01  USC00519397    78
2010-06-02  USC00519397    76
2010-06-03  USC00519397    78
2010-06-04  USC00519397    76
2010-06-05  USC00519397    77

In [22]:
# Identify the average temperature for June
june_avg = june['tobs'].mean()
june_avg

74.94411764705882

In [26]:
# Identify the average temperature for December
dec = df[df.index.month==12]
#dec.head()
dec_avg= dec["tobs"].mean()
dec_avg

71.04152933421226

In [29]:
# Create collections of temperature data
jun_data = june['tobs']
dec_data = dec['tobs']

In [32]:
# Run paired t-test
t_value, p_value=stats.ttest_ind(jun_data,dec_data)
print(f't_value {t_value}')
print(f'p_value {p_value}')

t_value 31.60372399000329
p_value 3.9025129038616655e-191

### Analysis

#Since the p value is low, less than 0.05 we reject the null hypotheses.  There is a differnce.